extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/hallofbeige.css')
  link(rel='stylesheet', href='/stylesheets/dev_style.css')

block content
  h2.subtitle The Hall of Beige  

  div#beigehall
    ul
      for beige, i in top10
        li(style="background:#{beige.hex};")
          h3 #{i+1}. #{beige.name}
          h4 #{beige.hex}
          span by 
            a(href="/") #{beige.twitterName}
      