div#outer
  each beige in beiges
    section.choices(style='background-color: #{beige.hex}', data-hex='#{beige.hex}', id='#{beige.hex}', data-name='#{beige.name}')
      div.container
        h2 #{beige.name}
        a.vote(href='#') Vote

