extends layout

block scripts
  script(type='text/javascript', src='/javascripts/vote-client.js')

block content
  div#vs
    div.vs
      span vs
<<<<<<< HEAD
    a.light_button.refresh New Contestants
=======
    //a.light_button.refresh Refresh Contestants
>>>>>>> 31c27522216f93dff4f900044f2d91f4cbf3052e
    each beige in beiges
      section.choice(style='background-color: #{beige.hex}', data-hex='#{beige.hex}', id='#{beige.hex}', data-name='#{beige.name}')
        div.container
          div.desc
            h2.name #{beige.name}
            h3.hex #{beige.hex}
            a.light_button.vote(href='#', data-hex='#{beige.hex}') Vote